<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>思途CMS移动版</title>
<link type="text/css" rel="stylesheet" href="../css/m_base.css" >
<link type="text/css" rel="stylesheet" href="../css/style.css" >
</head>

<body>
	<div class="city_top clearfix">
  	<a class="back" href="#">返回</a>
    <a class="city_tit" href="#">选择城市</a>
  </div>
  
  <div class="more-des-m m_4th">
  	<p>热门</p>
    <div class="m_more_des">
      <span><a href="/beijing">北京</a></span>
      <span><a href="/shanghai">上海</a></span>
      <span><a href="/guangzhou">广州</a></span>
      <span><a href="/shenzhen">深圳</a></span>
    </div>
    <div class="m_more_des">
      <span><a href="/beijing">北京</a></span>
      <span><a href="/shanghai">上海</a></span>
      <span><a href="/guangzhou">广州</a></span>
      <span><a href="/shenzhen">深圳</a></span>
    </div>
  </div>
  
  <div class="more-des-m m_4th">
  	<p>A</p>
    <div class="m_more_des">
      <span><a href="/beijing">北京</a></span>
      <span><a href="/shanghai">上海</a></span>
      <span><a href="/guangzhou">广州</a></span>
      <span><a href="/shenzhen">深圳</a></span>
    </div>
    <div class="m_more_des">
      <span><a href="/beijing">北京</a></span>
      <span><a href="/shanghai">上海</a></span>
      <span><a href="/guangzhou">广州</a></span>
      <span><a href="/shenzhen">深圳</a></span>
    </div>
  </div>
 
  <div class="more-des-m m_4th">
  	<p>B</p>
    <div class="m_more_des">
      <span><a href="/beijing">北京</a></span>
      <span><a href="/shanghai">上海</a></span>
      <span><a href="/guangzhou">广州</a></span>
      <span><a href="/shenzhen">深圳</a></span>
    </div>
    <div class="m_more_des">
      <span><a href="/beijing">北京</a></span>
      <span><a href="/shanghai">上海</a></span>
      <span><a href="/guangzhou">广州</a></span>
      <span><a href="/shenzhen">深圳</a></span>
    </div>
  </div>
  
  <div class="footer">
  	<div class="back_top">返回顶部</div>
    <div class="terminal">
    	<a href="#">手机版</a>
      |
    	<a href="#">电脑板</a>
    </div>
  </div>
</body>
</html>
