@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0
}
.fl{
	float:left}
.fr{
	float:right}	
body{
	width:100%;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif}	
h1,h2,h3,h4,h5{
	font-size:14px}
a{
	color:#464646;
	text-decoration:none}
a:hover{
	color:#f60}
a,input,textarea{ outline:none; resize:none;}
input,textarea{ padding-left:3px;}
s{ text-decoration:none}
strong{ font-weight:400}
.color_f60{
	color:#f60}	
table {
	border-collapse: collapse;
	border-spacing: 0}
li{
	list-style:none}	
img{
	border:none}

.kefu_top{
	width:233px;
	height:130px}
.kefu_left{
	width:25px;
	height:66px;
	position:absolute;
	left:-30px;
	top:0;
	cursor:pointer;
	background:url(images/12_left.png) left no-repeat}
.kefu_con{
	float:left;
	width:133px;
	height:auto;
	display:inline;
	margin-left:72px;
	position:relative;
	background:#f2f2f2;
	border-left:5px solid #6f9d1f;
	border-right:5px solid #6f9d1f;
	border-bottom:5px solid #6f9d1f}
.kefu_con dl{
	float:left;
	width:114px;
	margin:0 8px;}
.kefu_con dl dt{
	color:#333;
	height:30px;
	line-height:30px;
	font-weight:bold}
.kefu_con dl dd{
	float:left;
	width:110px;
	height:24px;
	line-height:24px;
	padding:5px 0 8px;
	display:inline;
	background:url(../images/kefu_bg.gif) bottom repeat-x}
.kefu_con dl dd a{
	color:#6a931e}
.kefu_con dl dd img{
	float:left;
	margin-right:10px}
.phone_num{
	float:left;
	width:133px;
	padding:10px 0;
	text-align:center}
.phone_num p{
	color:#de3a60;
	font-family:"微软雅黑";
	font-size:16px;
	font-weight:bold;}























































































