.basic-con table tr{
    height: 40px;
}
.basic-con table td{
    line-height: 40px;
}
.basic-con table td.u-editor{
    line-height: 16px;
}
.basic-con .des{
    border:1px solid #dcdcdc;
    width: 400px;
    height: 70px;
    margin-top:10px;
    padding:5px;
}
.basic-con table .tit{
    text-align: right;
    padding-right: 10px;
}
.save-con{
    text-align: center;
    padding: 15px 0px;
}
.basic-con table .i-tpl{
    float: left;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    padding: 0px 12px 0px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    position: relative;
    cursor: pointer;
}
.basic-con table .i-tpl.on{
    background: url(../images/temp-chg-ico.png) no-repeat;
    background-position: right bottom;
    border:1px solid #008ED8;
}
.basic-con table .i-tpl:hover{
    color:#000;
}